
@model Employee

@{
    ViewData["Title"] = "Details";
}


<h1>Details Page</h1>

<br />
<br />



<div> 
    <partial name="EmployeePartialView/_DeleteDetailsPartialView" />

         <div class="my-5"> 
           <a asp-action="Index" class="btn btn-light">Back To List </a> 
        </div> 
</div> 

   